Web/NeatHtml/schema/xhtml11-modules-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.w3.org/1999/xhtml"
           blockDefault="#all">

  <xs:annotation>
    <xs:documentation>
      This schema includes all modules for XHTML1.1 Document Type.
      $Id: xhtml11-modules-1.xsd,v 1.2 2004/01/15 06:01:40 speruvem Exp $
    </xs:documentation>
    <xs:documentation source="xhtml-copyright-1.xsd"/>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
     This schema includes all modules (and redefinitions)
     for XHTML1.1 Document Type.
     XHTML1.1 Document Type includes the following Modules

       XHTML Core modules (Required for XHTML Family Conformance)
            +  text
            +  hypertext
            +  lists
            +  structure

       Other XHTML modules
            +  Edit
            +  Bdo
            +  Presentational
            +  Link
            +  Meta
            +  Base
            +  Scripting
            +  Style
            +  Image
            +  Applet
            +  Object
            +  Param (Applet/Object modules require Param Module)
            +  Tables
            +  Forms
            +  Client side image maps
            +  Server side image maps

    </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="xhtml-framework-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Schema Framework Component Modules:
            +  notations
            +  datatypes
            +  common attributes
            +  character entities
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_commonatts"/>
    </xs:annotation>
  </xs:include>

  <xs:include schemaLocation="xhtml-text-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Text module

        The Text module includes declarations for all core
        text container elements and their attributes.

            +  block phrasal
            +  block structural
            +  inline phrasal
            +  inline structural

        Elements defined here:
          * address, blockquote, pre, h1, h2, h3, h4, h5, h6
          * div, p
          * abbr, acronym, cite, code, dfn, em, kbd, q, samp, strong, var
          * br, span
      </xs:documentation>
      <xs:documentation
        source="http://www.w3.org/TR/2001/REC-xhtml-modularization-20010410/abstract_modules.html#s_textmodule"/>
    </xs:annotation>
  </xs:include>


  <xs:redefine schemaLocation="xhtml-hypertext-1.xsd">
<!--
    <xs:attributeGroup name="a.attlist">
       <xs:attributeGroup ref="a.attlist" />
       <xs:attributeGroup ref="a.csim.attlist">
          <xs:annotation>
            <xs:documentation>
              Redefinition by Client Side Image Map Module
            </xs:documentation>
          </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="a.events.attlist">
          <xs:annotation>
            <xs:documentation>
              Redefinition by XHTML Event Attribute Module
            </xs:documentation>
          </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>
-->
  </xs:redefine>

  <xs:include schemaLocation="xhtml-list-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Lists module

        Elements defined here:
          * dt, dd, dl, ol, ul, li
      </xs:documentation>
      <xs:documentation
        source="http://www.w3.org/TR/2001/REC-xhtml-modularization-20010410/abstract_modules.html#s_listmodule"/>
    </xs:annotation>
  </xs:include>

  <xs:redefine schemaLocation="xhtml-struct-1.xsd">
<!--
    <xs:group name="head.content">
      <xs:annotation>
         <xs:documentation>
           Redefinition by Base module
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="HeadOpts.mix" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
             <xs:sequence>
                <xs:group ref="head.content"/>
                <xs:group ref="HeadOpts.mix" minOccurs="0" maxOccurs="unbounded"/>
                <xs:sequence minOccurs="0">
                    <xs:element ref="base"/>
                    <xs:group ref="HeadOpts.mix" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
             </xs:sequence>
             <xs:sequence>
                <xs:element ref="base"/>
                <xs:group ref="HeadOpts.mix" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="title"/>
                <xs:group ref="HeadOpts.mix" minOccurs="0" maxOccurs="unbounded"/>
             </xs:sequence>
         </xs:choice>
      </xs:sequence>
    </xs:group>
-->
    <xs:attributeGroup name="version.attrib">
      <xs:annotation>
         <xs:documentation>
            Redefinition by the XHTML11 Markup (for value of version attr)
         </xs:documentation>
      </xs:annotation>
      <xs:attribute name="version" type="FPI" fixed="-//W3C//DTD XHTML 1.1//EN"/>
    </xs:attributeGroup>

<!--
    <xs:attributeGroup name="body.attlist">
      <xs:attributeGroup ref="body.attlist">
          <xs:annotation>
            <xs:documentation>
              Original Body Attlist
            </xs:documentation>
          </xs:annotation>
      </xs:attributeGroup>
      <xs:attributeGroup ref="body.events.attlist">
          <xs:annotation>
            <xs:documentation>
              Redefinition by XHTML Event Attribute Module
            </xs:documentation>
          </xs:annotation>
      </xs:attributeGroup>
    </xs:attributeGroup>
-->
  </xs:redefine>

 <xs:include schemaLocation="xhtml-edit-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Edit module

        Elements defined here:
          * ins, del
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_editmodule"/>
    </xs:annotation>
  </xs:include>

  <xs:include schemaLocation="xhtml-bdo-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Bidirectional element module

        Elements defined here:
          * bdo
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_bdomodule"/>
    </xs:annotation>
  </xs:include>

  <xs:include schemaLocation="xhtml-pres-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Presentational module

         Elements defined here:
           * hr, b, big, i, small,sub, sup, tt
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_presentationmodule"/>
    </xs:annotation>
  </xs:include>

  <xs:include schemaLocation="xhtml-link-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Link module

        Elements defined here:
          * link
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_linkmodule"/>
    </xs:annotation>
  </xs:include>

  <xs:include schemaLocation="xhtml-meta-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Meta module

        Elements defined here:
        * meta
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_metamodule"/>
    </xs:annotation>
  </xs:include>

  <xs:include schemaLocation="xhtml-base-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Base module

        Elements defined here:
          * base
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_basemodule"/>
    </xs:annotation>
  </xs:include>

<!--
  <xs:include schemaLocation="xhtml-script-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Scripting module

        Elements defined here:
          * script, noscript
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_scriptmodule"/>
    </xs:annotation>
  </xs:include>
-->

<!--
  <xs:include schemaLocation="xhtml-style-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Style module

        Elements defined here:
          * style
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_stylemodule"/>
    </xs:annotation>
  </xs:include>
-->

  <xs:include schemaLocation="xhtml-inlstyle-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Style attribute module

        Attribute defined here:
          * style
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_styleattributemodule"/>
    </xs:annotation>
  </xs:include>

  <xs:redefine schemaLocation="xhtml-image-1.xsd">
<!--
    <xs:attributeGroup name="img.attlist">
       <xs:attributeGroup ref="img.attlist">
           <xs:annotation>
             <xs:documentation>
                Original Image Attributes (in Image Module)
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="img.csim.attlist">
           <xs:annotation>
             <xs:documentation>
                Redefinition by Client Side Image Map Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="img.ssimap.attlist">
           <xs:annotation>
             <xs:documentation>
                Redefinition by Server Side Image Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>
-->
  </xs:redefine>

  <xs:redefine schemaLocation="xhtml-csismap-1.xsd">
<!--
    <xs:attributeGroup name="area.attlist">
       <xs:attributeGroup ref="area.attlist">
           <xs:annotation>
             <xs:documentation>
                Original Area Attributes (in CSI Module)
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="area.events.attlist">
           <xs:annotation>
             <xs:documentation>
                Redefinition by Events Attribute Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>
-->
  </xs:redefine>

  <xs:include schemaLocation="xhtml-ssismap-1.xsd">
    <xs:annotation>
      <xs:documentation>
       Server-side image maps module

        Attributes defined here:
          * ismap on img
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_servermapmodule"/>
    </xs:annotation>
 </xs:include>

<!--
  <xs:redefine schemaLocation="xhtml-object-1.xsd">
    <xs:attributeGroup name="object.attlist">
       <xs:attributeGroup ref="object.attlist">
           <xs:annotation>
             <xs:documentation>
                Original Object Attlist
              </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="object.csim.attlist">
           <xs:annotation>
              <xs:documentation>
                Redefinition by Client Image Map Module
              </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>
  </xs:redefine>

  <xs:include schemaLocation="xhtml-param-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Param module

        Elements defined here:
          * param
      </xs:documentation>
    </xs:annotation>
  </xs:include>
-->

  <xs:include schemaLocation="xhtml-table-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Tables module

        Elements defined here:
          * table, caption, thead, tfoot, tbody, colgroup, col, tr, th, td
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_tablemodule"/>
    </xs:annotation>
  </xs:include>

<!--
  <xs:redefine schemaLocation="xhtml-form-1.xsd">
    <xs:attributeGroup name="form.attlist">
       <xs:annotation>
          <xs:documentation>
            Changes to XHTML Form Attlist
          </xs:documentation>
       </xs:annotation>
       <xs:attributeGroup ref="form.attlist">
           <xs:annotation>
             <xs:documentation>
                Original Form Attributes (declared in Forms Module)
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="form.events.attlist">
           <xs:annotation>
             <xs:documentation>
                XHTML Events Module - Attribute additions
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>

    <xs:attributeGroup name="input.attlist">
       <xs:annotation>
          <xs:documentation>
            Changes to XHTML Form Input Element
          </xs:documentation>
       </xs:annotation>
       <xs:attributeGroup ref="input.attlist">
           <xs:annotation>
             <xs:documentation>
                Original Input Attributes (in Forms Module)
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="input.csim.attlist">
           <xs:annotation>
             <xs:documentation>
                Redefinition by Client Side Image Map Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="input.ssimap.attlist">
           <xs:annotation>
             <xs:documentation>
                Redefinition by Server Side Image Map Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="input.events.attlist">
           <xs:annotation>
             <xs:documentation>
               Redefinition by Event Attribute Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>


    <xs:attributeGroup name="label.attlist">
       <xs:attributeGroup ref="label.attlist">
           <xs:annotation>
             <xs:documentation>
                Original Label Attributes (in Forms Module)
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="label.events.attlist">
           <xs:annotation>
             <xs:documentation>
               Redefinition by Event Attribute Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>

    <xs:attributeGroup name="select.attlist">
       <xs:attributeGroup ref="select.attlist">
           <xs:annotation>
             <xs:documentation>
                Original Select Attributes (in Forms Module)
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="select.events.attlist">
           <xs:annotation>
             <xs:documentation>
               Redefinition by Event Attribute Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>

    <xs:attributeGroup name="textarea.attlist">
       <xs:attributeGroup ref="textarea.attlist">
           <xs:annotation>
             <xs:documentation>
                Original TextArea Attributes (in Forms Module)
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
       <xs:attributeGroup ref="textarea.events.attlist">
           <xs:annotation>
             <xs:documentation>
               Redefinition by Event Attribute Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>

    <xs:attributeGroup name="button.attlist">
       <xs:attributeGroup ref="button.attlist">
           <xs:annotation>
             <xs:documentation>
                Original Button Attributes (in Forms Module)
             </xs:documentation>
           </xs:annotation>
        </xs:attributeGroup>
        <xs:attributeGroup ref="button.events.attlist">
           <xs:annotation>
             <xs:documentation>
               Redefinition by Event Attribute Module
             </xs:documentation>
           </xs:annotation>
       </xs:attributeGroup>
    </xs:attributeGroup>
  </xs:redefine>
-->

  <xs:include schemaLocation="xhtml-ruby-basic-1.xsd">
    <xs:annotation>
      <xs:documentation>
        Ruby module

        Elements defined here:
          * ruby, rbc, rtc, rb, rt, rp

        Note that either Ruby or Basic Ruby should be used but not both
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/2001/REC-ruby-20010531/#simple-ruby1"/>
    </xs:annotation>
  </xs:include>

<!--
  <xs:include schemaLocation="xhtml-events-1.xsd">
    <xs:annotation>
      <xs:documentation>
        XHTML Events Modules

        Attributes defined here:
          XHTML Event Types
      </xs:documentation>
      <xs:documentation
         source="http://www.w3.org/TR/xhtml-modularization/abstract_modules.html#s_intrinsiceventsmodule"/>
    </xs:annotation>
  </xs:include>
-->

  <xs:include schemaLocation="xhtml-misc-1.xsd">
    <xs:annotation>
      <xs:documentation>
      XHTML Miscellaneous Legacy Markup   
        font, basefont, center, s, strike, u,
        dir, menu, isindex
      
      This is to allow XHTML documents to be transformed for
      display on HTML browsers where CSS support is inconsistent
      or unavailable.
      
      The module also declares legacy attributes for elements
      in other module. Note: This module only declares the
      attribute list, and it upto the document type to
      redefine the model of affected modules.
      </xs:documentation>
    </xs:annotation>
  </xs:include>

</xs:schema>
